 <div>
  <% if  @nodes.empty? %>
    <h1> 
      No nodes in the system at present 
    </h1>
  <% else %>
      <% @nodes.each do |n| %>
        <br>
        <div>
          <strong><%= n.name_display %></strong>
          <%= '['%>
          <%=  n.node.name_display  %>
          <%= ']' %>
          <%= link_to 'Edit', edit_node_path(n) %> 
          <%= link_to 'Delete', node_path(n), method: :delete %>

        </div>

        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <table class="table table-stripped">
                <tbody>
                  <% n.node_attrbs.each do |nna| %>            
                    <!--%=byebug%-->
                    <tr>
              
                        <%#= nna.nodeattr[:name] %>
                      <td class="col-md-1">  <%= nna.nodeattr.name_display %></td>
                      <td class="col-md-6">  <%= nna[:name] %>      </td>
                      <td class="col-md-1">  <%= nna[:url_rank] %>  </td>
                      <td class="col-md-4">  <%= nna[:url_short] %> </td>
                    
                    </tr>
                  <% end # end nna %>
                </tbody>
              </table>
            </div>
          </div>
        </div>

    <% end %> <%# end do n%>
    <%#= will_paginate @nodes %>
  <% end %> <%# end if%>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= link_to "Add New Node", new_node_path, class: 'btn btn-default' %>
    </div>
  </div>
</div>
